body {
    font-size: 24px;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.red {
    color: red;
}
.deeppink {
    color:deeppink;
}
.italic {
    font-style: italic;
}
.bold {
    font-style: bold;
}
.large {
    font-size: 50px;
}