body {
    font-size: 24px;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.red {
    color: red;
}
.deeppink {
    color:deeppink;
}
li.red {
    color: red;
}
li.blue {
    color: blue;
}
li.green {
    color: green;
}
ul ol li.red {
    color: red;
}
ul ol li.green {
    color: green;
}
ul ol li.blue {
    color: blue;
}
p.italic {
    font-style: italic;
}
p.bold {
    font-style: bold;
}
span.large {
    font-size: 50px;
}